* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', 'Segoe UI', sans-serif;
}

#queue-list::-webkit-scrollbar {
    width: 8px;
}

#queue-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#queue-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#queue-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.animate-spin {
    animation: spin 1s linear infinite;
}
